*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: #03045e;
}

.parrafo_uno{
    background-color: #0077b6;
}

.parrafo_dos{
    background-color: #90e0ef;
}

.parrafo_tres{
    background-color: #caf0f8;
}
